/*
    global styles
    generate generic styles for the entire application
*/
body {
    font-family: monospace ;
    font-size: auto;
    color: #333;
    background-color: #fff;
    /* add resposive margin */
    margin: 0 auto;
    /* max-width: 800px;
    padding: 20px 20px; */
    /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    /* background-image: url("../public/OIP.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-size:contain;
    background-attachment: fixed; */
}

/* Button styles 
    make the button edges round
    borders get thicker when the mouse hovers over the button
    the color ia darker than the background color
    the color is lighter when the mouse hovers over the button
*/
button {
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 0;
}

button:hover {
    background-color: #fff;
}

label {
    display: inline-block;
    text-align: left;
    width: 100px;
}

textarea {
    display: inline-block;
    width: 100%;
    height: 100px;
    margin: 4px 0;
}

ul {
    list-style-type: none;
}

nav {
  background-color: rgb(191, 194, 197);
  /* width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute; */
  /* top: 0;
  left: 0; */
}

.home {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
}

.green-hover:hover {
  color: #34d986;
}

.yellow-hover:hover {
  color: #f3a90b;
}


.body {
  padding: 20px;
}
.body .app {
  border: 3px solid #e3e3e3;
  border-radius: 4px;
  padding: 20px;
}
.body .app .card {
  width: 250px;
}
.body .app .circle-avatar {
  display: grid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffbd30;
  place-items: center;
}
.body .app .circle-avatar .span {
  font-size: 48px;
  font-weight: bold;
}


/* img,
video,
button {
  display: block;
}

video {
  position: absolute;
  right: 100%;
} */

.prewrap {
    white-space: pre-wrap;  
}

.background-img {
    height: 100%;
    width: 100%;
    /* background: url("../public/OIP.jpeg") no-repeat center;
    background-size: cover; */
}

body:has(.background-img) {
    background: url("../public/Online_Proctoring_System.jpg") no-repeat center top;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-sm-4 {
  display: inline-block;
  float: none;
}

/* Decorations */
.col-sm-4 { font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.col-sm-4:nth-child(3n+1) { background: #c69; }
.col-sm-4:nth-child(3n+2) { background: #9c6; }
.col-sm-4:nth-child(3n+3) { background: #69c; }

/* Scroll Bar */

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#aeffd6;
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
} */
/* 34d986 */

/*------------------------------------
- COLOR success
------------------------------------*/

.alert-success {
  color: #177b48;
  background-color: #dff9ec;
  border-color: #cef5e2;
}
.alert-success hr {
  border-top-color: #b9f1d5;
}
.alert-success .alert-link {
  color: #0f502f;
}
.badge-success {
  color: #212529;
  background-color: #34d986;
}
.badge-success[href]:hover, .badge-success[href]:focus {
  color: #212529;
  background-color: #22b76c;
}
.bg-success {
  background-color: #34d986 !important;
}
a.bg-success:hover, a.bg-success:focus, button.bg-success:hover, button.bg-success:focus {
  background-color: #22b76c !important;
}
.border-success {
  border-color: #34d986 !important;
}
.btn-success {
  color: #212529;
  background-color: #34d986;
  border-color: #34d986;
}
.btn-success:hover {
  color: #212529;
  background-color: #24c474;
  border-color: #22b76c;
}
.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 217, 134, 0.5);
}
.btn-success.disabled, .btn-success:disabled {
  color: #212529;
  background-color: #34d986;
  border-color: #34d986;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #212529;
  background-color: #22b76c;
  border-color: #1faa64;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 217, 134, 0.5);
}
.btn-outline-success {
  color: #34d986;
  background-color: transparent;
  border-color: #34d986;
}
.btn-outline-success:hover {
  color: #212529;
  background-color: #34d986;
  border-color: #34d986;
}
.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 217, 134, 0.5);
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #34d986;
  background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #212529;
  background-color: #34d986;
  border-color: #34d986;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 217, 134, 0.5);
}
.list-group-item-success {
  color: #177b48;
  background-color: #cef5e2;
}
.list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
  color: #177b48;
  background-color: #b9f1d5;
}
.list-group-item-success.list-group-item-action.active {
  color: #212529;
  background-color: #177b48;
  border-color: #177b48;
}
.table-success, .table-success > th, .table-success > td {
  background-color: #cef5e2;
}
.table-hover .table-success:hover {
  background-color: #b9f1d5;
}
.table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
  background-color: #b9f1d5;
}
.text-success {
  color: #34d986 !important;
}
a.text-success:hover, a.text-success:focus {
  color: #22b76c !important;
}
