#pycahe files
*.pyc
backend/backend/_pycache_/*
#migrations & sqlite3 db
backend/*/migrations/*
backend/db.sqlite3
#media
backend/media/*
#Docker
backend/Dockerfile
#environment variables
*.env
backend/backend/settings.py
#more
required_to_edit.txt
ws_test.py
ws_test.js