#pycahe files
*.pyc
backend/backend/_pycache_/*
#migrations & sqlite3 db
backend/*/migrations/*
backend/db.sqlite3
#media
backend/media/*
#Docker
backend/Dockerfile
#environment variables
*.env
backend/backend/settings.py
#test data
photo.txt
video.txt
#nginx
nginx/*
#certbot
certbot/*
#more
required_to_edit.txt
ws_test.py
ws_test.js
#ml models
backend/main_app/ml_models/__pycache__/*
backend/main_app/ml_models/liveness/__pycache__/*
backend/main_app/ml_models/
backend/detection/*
backend/input/*
backend/runs/*
#new_face_recognition
dlib/*
backend/output/*